# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
/.vs/Lr5Chm
/Lr5Chm/x64/Debug/Lr5Chm.tlog
/Lr5Chm/x64/Debug
/Lr5Chm/Lr5Chm.vcxproj
/Lr5Chm/Lr5Chm.vcxproj.filters
/Lr5Chm/Lr5Chm.vcxproj.user
/x64/Debug
/Lr5Chm.sln
